
<center><%#= image_tag("contactus.jpg", :alt => "Contact Me",:size=>'300x200')%>

  <h3>Address:</h3>

Bangalore,<br/>
Karnataka,<br/>
India-560072<br/><br/><br/><br/><br/><br/>
<%= link_to 'Back', :controller=>'admissions', :action=>'index' %>
</center>

