<marquee> <h2>Welcome </h2></marquee>
<%#=  link_to 'Home Page', :controller=>"admissions", :action=>'index' %>&nbsp;&nbsp;&nbsp;
 <%#=  link_to 'Calendar', :controller=>'calendars', :action=>'index' %>&nbsp;&nbsp;&nbsp;
 <%#=  link_to 'Show Applicants', :controller=>'admissions', :action=>'home' %>&nbsp;&nbsp;&nbsp;
 <%#=  link_to 'Show Students', :controller=>"students", :action=>'index' %>&nbsp;&nbsp;&nbsp;
  <%#=  link_to 'Contact Us', :controller=>'admissions', :action=>'contactus' %><br/>